:root {
  font-family: "Quicksand", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  background-color: black;
  color: white;

  align-items: center;
  justify-content: center;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.magic-box {
  position: relative;
  display: inline-block;
}

.magic-box .magic-text {
  animation: background-pan 5s linear infinite;
  background-image: linear-gradient(to right, #ff0099, #493240, #ff0099);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.magic-box .magic-star {
  opacity: 0.7;
  --size: clamp(14px, 1vw, 30px);
  --star--fill: violet;
  animation: scale 755ms ease forwards;
  display: block;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: var(--star-top);
  left: var(--star-left);
}

.magic-box .magic-star svg {
  width: var(--size);
  height: var(--size);
  fill: var(--star--fill) !important;

  fill: currentColor;
  overflow: hidden;
  display: block;
  animation: rotate 1s linear infinite;
}
