body {
  background-color: black;

}

#menu {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#background-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%,
      transparent 9%);
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;

  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

#background-image {
  background-image: url("https://images.unsplash.com/photo-1666468426668-917784a15335?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: 110vmax;
  background-position: center 48%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.15;
  z-index: 0;
  transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

#menu[data-active-index="0"]>#background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"]>#background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"]>#background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"]>#background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"]>#background-image {
  background-position: center 25%;
}

#menu[data-active-index="1"]>#background-image {
  background-position: center 50%;
}

#menu[data-active-index="2"]>#background-image {
  background-position: center 75%;
}

#menu[data-active-index="3"]>#background-image {
  background-position: center 100%;
}


.menu-items {
  margin-left: clamp(4rem, 20vw, 48rem);
  position: relative;
  z-index: 2;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Ibarra Real Nova', serif;
  font-size: clamp(3rem, 8vw, 8rem);
  padding: clamp(0.25rem, 0.5vw, 1rem);
  text-decoration: none;
  transition: opacity 400ms ease;
}

.menu-items:hover .menu-item {
  opacity: 0.1;
}

.menu-items:hover>.menu-item:hover {
  opacity: 0.3;
}

.menu-items:hover~#background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

.menu-items:hover~#background-image {
  background-size: 100vmax;
  opacity: 0.1;
}