:root {
  --g1: #403a94;
  --g2: #aa298d;
  --g3: #f4433d;
  width: 100vw;
  height: 100vh;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background-position: 10px;
  background-size: 200% !important;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  &.toggled {
    animation: none;
  }

  &.toggled > #tiles > .tile:hover {
    opacity: 0.1 !important;
  }
  &.toggled > .icon-box {
    opacity: 0 !important;
  }
  &.toggled > .title-box {
    opacity: 1 !important;
  }
}

.title-box {
  color: white;
  opacity: 0;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  font-size: 6vw;
  font-weight: bolder;
  width: 50vw;
  text-align: center;
  font-family: "Rubik", sans-serif;
  .fancy {
    color: var(--g2);
    font-family: "Dancing Script", cursive;
    font-size: 1.5em;
    line-height: 0.9em;
  }
}

.icon-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 1s;
  .icon {
    height: 400px;
    vertical-align: -0.15em;
    fill: currentColor;
    opacity: 0.3;
    overflow: hidden;
  }
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}
.tile {
  cursor: pointer;
  position: relative;
  opacity: 0;
  &:hover {
    background-color: rgb(30, 30, 30);
  }
  &:before {
    background-color: rgb(15, 15, 15);
    content: "";
    inset: 0.5px;
    position: absolute;
  }
}
